mat-grid-tile{
  height: 150px;
  background-color: blueviolet;
}
.header{
  max-height: 50px;
  background-color: #B71C1C;
  color:white;
}
.spacer {
  flex: 1 1 auto;
}

.content{
  min-height:87vh;
}

.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #B71C1C;
  color:white;
  font-size: small;
}

.footer a{
  max-height: 50px;
  color:white;
  text-decoration: none;
}
.footer a:hover{
  color:blue;
  cursor: pointer;
}
