<div fxLayout="row" fxLayout="column" fxLayoutAlign="space-between center">
      <mat-toolbar color="erro" class="header">
        <span class="spacer"></span>
        <a mat-button routerLink="/"><span>Logo</span></a>
        <span class="spacer"></span>
      </mat-toolbar>

      <div class="content">
        <router-outlet device="device"></router-outlet>
      </div>

      <mat-toolbar class="footer">
        <span>By <a mat-list-item href="https://www.linkedin.com/in/devjuliopereira/" > Júlio Pereira </a> </span>
      </mat-toolbar>
</div>
